@model QuanLySieuThi.Models.Entities.KhachHang

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h2>Tạo tài khoản khách hàng</h2>

<h4>Thông tin khách hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
    </div>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="MaKH" class="control-label"></label>
                    <input asp-for="MaKH" class="form-control" />
                    <span asp-validation-for="MaKH" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ten" class="control-label"></label>
                    <input asp-for="Ten" class="form-control" />
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DienThoai" class="control-label"></label>
                    <input asp-for="DienThoai" class="form-control" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayCapThe" class="control-label"></label>
                    <input asp-for="NgayCapThe" class="form-control" />
                    <span asp-validation-for="NgayCapThe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NgayMuaGanNhat" class="control-label"></label>
                    <input asp-for="NgayMuaGanNhat" class="form-control" />
                    <span asp-validation-for="NgayMuaGanNhat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiemThuong" class="control-label"></label>
                    <input asp-for="DiemThuong" class="form-control" />
                    <span asp-validation-for="DiemThuong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="~/Home/Index">Thoát</a>
    </div>

